*.jar
!gradle/wrapper/gradle-wrapper.jar
*.class

out/
target/
doc/

run/*
!run/.gitkeep

.idea/*
!.idea/codeStyles
!.idea/runConfigurations

Gui/.idea/*
!Gui/.idea/codeStyles
!Gui/.idea/runConfigurations

.gradle/
**/build/

Gui/Acromantula\ GUI/bin/
Gui/Acromantula\ GUI/obj/
Gui/.vs/

Gui/packages/