*.jar
!gradle/wrapper/gradle-wrapper.jar
*.class

out/
target/
doc/

run/*
!run/.gitkeep

.idea/*
!.idea/codeStyles
!.idea/runConfigurations

acromantula_gui/.idea/*
!acromantula_gui/.idea/codeStyles
!acromantula_gui/.idea/runConfigurations

.gradle/
**/build/

acromantula_gui/Acromantula\ GUI/bin/
acromantula_gui/Acromantula\ GUI/obj/
acromantula_gui/.vs/

acromantula_gui/packages/